*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}
.rojo{
  background-color: red;
}
.naranja{
  background-color: orange;
}
.amarillo{
  background-color: yellow;
}
.verde{
  background-color: green;
}
.azul{
  background-color: blue;
}
